definition.json
{
    "StartAt": "SerializeImage",
    "States": {
      "SerializeImage": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:479305148912:function:serializeImageData:$LATEST"
        },
        "Next": "Classification"
      },
      "Classification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:479305148912:function:myClassificationFunction:$LATEST"
        },
        "Next": "Threshold"
      },
      "Threshold": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:479305148912:function:myThresholdFunction:$LATEST"
        },
        "End": true
      }
    }
  }